<h3>Your available options to review</h3>
<div class="container">
  <div class="row-fluid">
    <div class="well">
      <% @restaurant.each do |x|%>
      <h4><%= link_to "#{x.name.titlecase}", restaurant_path(x) %>  <%= x.distance_from([session[:latitude], session[:longitude]]).round(2) %> miles away
    (<%= x.category unless x.category == nil %>)  </h4>
      <%end%>
    </div>
  </div>
</div>
<div class='digg_pagination'>
  <center><%= will_paginate @restaurant, :page_links => false %></center>
</div>
