<h3>Your availible options to review</h3>
<div class="container">
  <div class="row-fluid">
    <% @restaurant.each do |x|%>
    <p><%= link_to "#{x.name.titlecase}", restaurant_path(x) %></p><p><%= x.distance_from([session[:latitude], session[:longitude]]).round(2) %> miles away.</p>
    <%end%>
  </div>
</div>
<div class='apple_pagination'>
  <center><%= will_paginate @restaurant %></center>
</div>
