<div class="container">
  <div class="row-fluid">
    <% @results.each do |result| %>
    <span id='inline'>
    <h4><%= link_to "#{result.name.titlecase}", restaurant_path(result) %>  <%= result.distance_from([session[:latitude], session[:longitude]]).round(2) %> miles away
    (<%= result.category unless result.category == nil %>)  </h4>
    </span>
    </br>
    <%end%>
<div class="digg_pagination">
  <center><%= will_paginate @results, :page_links => false %></center>
</div>
  </div>
</div> 