<% @results.each do |result| %>
<p><%= link_to "#{result.name}", restaurant_path(result) %></p>
<p><%= result.distance_from([session[:latitude], session[:longitude]]).round(2) %> miles away.</p>
<%end%>

<center><%= will_paginate @results %></center>